doctype html
html(lang="en")
  head
    <!-- Required meta tags -->
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    <!-- Bootstrap CSS -->
    link(rel="stylesheet" href="css/bootstrap.css")
    link(rel="stylesheet" href="css/style.css")
 
    title Hello world!
  body
    section.navbar
      ul.nav
        li.nav-item
          a.nav-link.active.font-weight-bold.text-monospace(href="/") HOME

    block content
     h1 content 


    footer.footer.fixed-bottom
      ul.nav.justify-content-center.text-uppercase
        li.nav-item
          a.nav-link.active(href="#") git hub
        li.nav-item
          a.nav-link(href="#") report a bug
    
    block script
