extends base

block content

    main.heap
      div.container-fluid
        div.row.align-items-center
          div.col-6
            img(src=`img/${img}.png` class="img-fluid" alt="Responsive image")
          
          div.col-6
            
            a(href=`/${link}` class="display-4 text-uppercase") vs player
            br
            