extends base

block content

    main.main
        h1.display-3.text-uppercase.mt-2.pl-3 select game

        div.container-fluid
            div.row.no-gutter
                div.col-md-6.col-sm-12
                    figure
                        img(src="img/heap.png" alt="")
                        figcaption.text-uppercase.text-center
                            a(href="/heap") heap
                

                div.col-md-6.col-sm-12
                    figure
                        img(src="img/grid.png" alt="" class="grid")
                        figcaption.text-uppercase.text-center
                            a(href="/grid") grid
              
        